.leaflet-popup-content-wrapper {
  height: 260px;
  width: 220px;
  padding: 20px;
}

.leaflet-popup {
  bottom: 12px !important;
}

.leaflet-popup-content {
  width: 100% !important;
  height: 100%;
  margin: 0;
}

.leaflet-popup-close-button {
  display: none;
}
